@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/leaguegothic-regular-webfont.eot');
	src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
	url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
	url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

.wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 960px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.header {
background: url(../image/fon_header.jpg) no-repeat;
    width: 100%;
    height: 340px;
    border-bottom: 0.2px solid grey;
}

.logo {
    padding-left: 10px;
    font-family: 'League Gothic', Tahoma, sans-serif;
    position: absolute;
    left: 278px;
    top: 28px;
    font-size: 19px;
    font-weight: 400;
    display: block;
    width: 75px;
    text-decoration: none;
    color: white;
    list-style: none;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.logo span {
    display: block;
    position: absolute;
    color: #322539;
    left: 60px;
    top: 0;

 
}

.menu {
    margin-left: 405px;
    margin-top: 27px;
    display: inline-block;
    list-style: none;
    float: left;
    overflow: hidden;
}
.menu li {
    margin-left: 14px;
    display: inline;
    
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'League Gothic', Tahoma, sans-serif;
    font-size: 10px;
    clear: both;
    letter-spacing:0.4px;
   
    
}
.menu a:hover {
   
   border-bottom: 1px solid #edbfff;
}


.sliders {
    position: absolute;
    width: 100%;
    height:160px;
    top: 113px;
    background-color: rgba(0, 0, 0, 0.2);
    
}
.sliders img {
    position: absolute;
    top: -6px;
    right: 319px;
    width: 105px;
    height: 165px;
}
.article_slider {
    position: absolute;
    display: block;
    left: 288px;
    top: 30px;
    width: 23%;
    height: 120px;
    font-family: 'League Gothic', Tahoma, sans-serif; 
    overflow:auto;
}
.article_slider h1 {
    font-size: 24px;
    color: #fefefe;
}
.article_slider h2 {
    font-size: 13px;
    color: #edbfff;
}
.article_slider p {
    font-family: Arial , Tahoma, sans-serif; 
    color: white;
    font-size: 10px;
}

.slider__selector {
    position: absolute;
    bottom: -45px;
    right: 350px;
    width: 37px;
    height: 8px;
    background-image: url(../image/5.png);
    background-repeat: no-repeat;
}

.slider__selector-item {
    float: left;
    width: 9px;
    height: 9px;
    margin-top: -1px;
}

.slider__selector-item--selected {
    background-image: url(../image/slider-selected.png);
}


.slider__selector {
    position: absolute;
    bottom: -45px;
    right: 350px;
    width: 37px;
    height: 8px;
    background-image: url(../image/5.png);
    background-repeat: no-repeat;
}

.content_top {
    display: block;
    height: 137px;
    width: 100%;
    background: rgb(116,80,131);
    background: -moz-linear-gradient(top,  rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%);
    background: linear-gradient(to bottom,  rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%);
  
}
.colon {
    position: relative;
}
.colon aside {
    display: inline-block;
    position: relative;
    margin:8px;
    left: 286px;
    top: 24px;
}
.collon_one {
    background: url(../image/key.png)0px 0px no-repeat;
    background-size: 12px 12px;
    width: 12%;
    position: relative;
    height: 100px;
    overflow: hidden;
    clear: both;
}

.collon_two {
    background: url(../image/task.png)0px 0px no-repeat;
    position: relative;
    background-size: 12px 12px;
    width: 12%;
    height: 100px;
    overflow: hidden;
    clear: both;
    
}
.collon_three {
    display: block;
    background: url(../image/music.png)0px 0px no-repeat;
    position: inherit;
    background-size: 12px 12px;
    width: 12%;
    height: 100px;
    overflow: hidden;
    
}
.content_top h1 {
    font-family: 'League Gothic', Tahoma, sans-serif;
    font-size: 13px;
    padding-left: 23px;
    color: #ffffff;
}
.content_top p {
    font-family: 'Myriad Pro', sans-serif;
    color: #909192;
    font-size: 8px;
    padding-left: 23px;
    padding-top: 3px;
    line-height: 7px;
}
.content_top  a {
    text-decoration: none;
    color: white;
    font-family: 'League Gothic', Tahoma, sans-serif;
    font-size: 8px;
    margin-top: 6px;
    margin-right: 4px;
    float: right;
 }
.content_top  a:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(245,245,184,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(245,245,184,1);
box-shadow: 0px 0px 5px 0px rgba(245,245,184,1);
}

.content {
    position: relative;
    width: 100%;
    height: 194px;
    background-color:#f9f9f9;
}
.content_acide{
    position: relative;
}
.voice_face {
    position: absolute;
    display: block;
    left: 288px;
    top: 37px;
    height: 117px;
    width: 180px;
    overflow: auto;
    background: url(../image/man.png) no-repeat;
    background-size: 180px 117px;
}
.voice_face h1 {
    font-family: 'League Gothic', Tahoma, sans-serif; 
    padding-left: 28px;
    padding-top: 15px;
    font-size: 12px;
    color: #454545;
    
}
.voice_face b {
    color: #edbfff;
}
.voice_face p {
    display: block;
    font-size: 8px;
    padding-top: 4px;
    padding-left: 25px;
    padding-right: 16px;
}

.content_bottom {
    background: #ececec;
}

.section_slider{
    position: relative;
    top: 155px;
    left: 365px;
    overflow: auto;
}


.content .left_acide {
    display: block;
    width: 180px;
    height: 120px;
    position: relative;
    right: 287px;
    top: 34px;
    float: right;
    overflow: hidden;
}
.left_acide h1 {
    font-size: 12px; 
    font-family: 'League Gothic', Arial, sans-serif;
}
.left_acide li {
    height: 27px;
    background: url(../image/left_bg.png) no-repeat;
    background-position: 0px 5px;
}
.left_acide a {
    line-height: 12px;
    padding-left: 25px;
    text-decoration: none;
    font-size: 8px;
    color: black;
    font-weight: 600;
}
.left_acide p {
    font-size: 6px;
    padding-left: 25px;
}
.left_acide h2 {
    font-family: 'League Gothic', Tahoma, sans-serif;
    float: right;
    color: #454545;
    font-size: 8px;
    margin: 0;
    padding: 0;
}


.sitbar {
    width: 100%;
    height: 50px;
    background-color: #f9f9f9;
    border-top: 1px dotted #efefef;
}
.menu_sprite {
    width: 340px;
    position: relative;
    top: 9px;
    left: 325px;
    overflow: hidden;
}

.menu_sprite li {
    float: left;
    list-style: none;
    
}
.menu_sprite a {
    display: block;
    width: 53px;
    height: 26px;
    background: url(../image/menu_sprite.png) 0 0 no-repeat;
    
}
.menu_sprite .logo_sprite2 {
    background-position: -53px 0;
}
.menu_sprite .logo_sprite3 {
    background-position: -106px 0;
}
.menu_sprite .logo_sprite4 {
    background-position: -159px 0;
}
.menu_sprite .logo_sprite5 {
    background-position: -212px 0;
}
.menu_sprite .logo_sprite6 {
    background-position: -265px 0;
}
.menu_sprite a:hover {
    background-position: 0 -27px;
}
.menu_sprite .logo_sprite2:hover {
    background-position: -53px -27px;
}
.menu_sprite .logo_sprite3:hover {
    background-position: -106px -27px;
}
.menu_sprite .logo_sprite4:hover {
    background-position: -159px -27px;
}
.menu_sprite .logo_sprite5:hover {
    background-position: -212px -27px;
}
.menu_sprite .logo_sprite6:hover {
    background-position: -265px -27px;
}

.content_bottom {
   width: 100%;
    height: 157px;
    background-color: #ececec;
}
.acide_bot section {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    left: 280px;
    top: 34px;
    height: 90px;
    width: 120px;
    overflow: auto;
}
.acide_bot b {
    color: #b9b9b9;
}
.acide_bot h4 {
    color: #b9b9b9;
    font-size: 8px;
    font-style: italic;
}
.acide_bot a {
    font-family: 'League Gothic', Tahoma, sans-serif;
    text-decoration: none;
    color: #454545;
    font-size: 19px;
    font-weight: 500;
}
.acide_bot a h2 {
    padding-top: 2px;
    font-size: 13px;
}
.acide_bot section p {
    display: block;
    padding-top: 5px;
    margin: 0 auto;
    font-size: 8px;
    color: #9c9b9b;
}

.footer {
    position: relative;
    width: 100%;
    height: 46px;
    background: url(../image/fon_footer1.jpg) no-repeat;
    
}
.menu_footer {
    margin-left: 279px;
    margin-top: 11px;
    display: block;
    list-style: none;
    float: left;
    overflow: hidden;
}
.menu_footer li {
    margin-left: 12px;
    display: inline;
    
}
.menu_footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'League Gothic', Tahoma, sans-serif;
    font-size: 8px;
    clear: both;
    letter-spacing:0.4px;
    
}
.menu_footer a:hover {
    border-bottom: 1px solid #edbfff;
}

.pingbull a {
    font-family:Tahoma, sans-serif;
    display: block;
    position: absolute;
    width: 60px;
    right: 284px;
    top: 19px;
    height: 10px;
    font-size: 5px;
    color: #9c9b9b;
    text-decoration: none;
}
.pingbull b {
    font-family: Tahoma, sans-serif;
    color: white;
}

